@font-face {
    font-family: 'krona_oneregular';
    src: url('kronaone-regular-webfont.woff2') format('woff2'),
         url('kronaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root{
    --purple-clr: rgb(210, 50, 220);
    --dark-clr: rgb(30,30,30);
    --dark-p: rgb(200,200,200);
    --light-p: rgb(70,70,70);
    --p-padding: 1rem;
    --h-padding: 3rem;
    --b-padding: 6rem;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "krona_oneregular";
    box-sizing: border-box;
    overflow-x: hidden;
}

img{
    width: 100%;
}

section{
    padding-bottom: var(--h-padding);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    transition: .2s ease-in;
}

a:hover{
    color: var(--purple-clr);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--p-padding) 0;
}

nav img{
    width: 1.5rem;
}

.res-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: white;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    -webkit-backface-visibility: hidden;
    background-color: var(--dark-clr);
    transform: translateX(-100%);
    transition: .3s ease;
}

.res-active{
    transform: translateX(0);
}

.res-nav img{
    width: 100px;
}

.nav-list-res{
    text-align: center;
}

.nav-list-res a{
    display: block;
    font-size: 2rem;
    margin: var(--h-padding) 0;
}

/* utility classes */
.row{
    display: flex;
    justify-content: center;
}

.git{
    width: 40px;
}

.text-center{
    text-align: center;
}

.back-dark{
    background-color: var(--dark-clr);
}

.back-light{
    background-color: white;
}

.purple-clr{
    color: var(--purple-clr);
}

.p-dark{
    color: var(--dark-p);
}

.p-light{
    color: var(--light-p);
}

.h-dark{
    color: white;
}

.h-pad{
    padding: var(--h-padding) 0;
}

.b-pad{
    padding: var(--b-padding) 0 var(--h-padding) 0;
}

.p-pad{
    padding: var(--p-padding) 0;
}

.container{
    width: 90vw;
    margin-inline: auto;
}

.con-p{
    width: 50vw;
    margin-inline: auto;
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: .3rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    border: var(--purple-clr) 3px solid;
    background-color: var(--purple-clr);
    cursor: pointer;
    transition: .3s ease;
}

/* basic classes*/
#canvas{
    inset: 0 0 0 0;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: var(--dark-clr);
    /*background: linear-gradient(45deg, rgba(30,30,30,1) 30%, rgba(210,50,220,0.8) 50%, rgba(30,30,30,1) 70%);*/
}

header{
    position: fixed;
    overflow: hidden;
    max-width: 100vw;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--dark-clr);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
    color: white;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* About */

.about-text{
    display: flex;
    gap: 5rem;
}

.about-i{
    flex: 1 1 0px;
}

.lan img{
    width: 40px;
    text-align: center;
}

.lan-con{
    display: flex;
    justify-content: space-between;
}

.img-h{
    width: 150px;
    height: 150px;
    margin-inline: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple-clr);
}

.img-h img{
    width: 70%;
}

.card{
    text-align: center;
    flex: 1 1 0;
}

.card:nth-child(2){
    transition-delay: .2s;
}

.card:nth-child(3){
    transition-delay: .4s;
}

.card>*{
    margin-bottom: 1rem;
}

.card-con{
    display: flex;
    gap: 1rem;
}

/* work */

.grid-con{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.project:nth-child(even){
    transition-delay: .3s;
}

.project img{
    margin-bottom: 1rem;
}

.project-info>*{
    margin-bottom: .5rem;
}

.tech{
    display: flex;
    gap: .5rem;
}

.tech li{
    color: var(--dark-p);
}

.links{
    margin-top: var(--p-padding);
    display: flex;
    gap: .25rem;
}



.exit{
    width: 25px;
}

/*contact*/

input,textarea{
    width: 100%;
    margin-bottom: var(--p-padding);
    font-size: 1rem;
    box-sizing: border-box;
    padding: .5rem;
    outline: none;
    background-color: rgb(240, 240, 240);
    border: none;
}


/* scroll */

.hd-left{
    transform: translateX(-100%);
    opacity: 0;
    transition: .5s ease;
}

.hd-right{
    transform: translateX(100%);
    opacity: 0;
    transition: .5s ease;
}

.hd-down{
    transform: translateY(100%);
    opacity: 0;
    transition: .5s ease;
}

.show{
    transform: translate(0);
    opacity: 1;
}

.btn:hover{
    background: transparent;
    color: var(--purple-clr);
}

.menu{
    display: none;
}

/* responsive */

.hamburger{
    background-color: white;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
}

footer{
    background-color: var(--dark-clr);
    padding: 2rem 0;
}

.foot-nav, .foot-nav ul,.email,.foot-contact{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.foot-nav img{
    width: 1.5rem;
}

.email img{
    width: 30px;
}

.email{
 color: white;
}

.footer-con{
    display: flex;
    justify-content: space-between;
}

@media (max-width:420px) {
    .foot-nav, .foot-nav ul,.foot-contact,.footer-con{
        flex-direction: column;
        margin: 1rem;
    }
    .menu{
        display: block;
    }
    .hamburger{
        display: block;
    }
    .con-p{
        width: 90vw;
    }
    .about-text,.card-con{
        flex-direction: column;
    }
    .card{
        transition-delay: none;
    }

    .grid-con{
        grid-template-columns: 1fr;
    }
    .nav-list{
        display: none;
    }
    .project{
        transition-delay: none;
    }
}